/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* End Font Poppins */

/* Product Sans */
@import url('https://fonts.cdnfonts.com/css/product-sans');
/* End Product Sans */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* Everett Fonts */
      @font-face {
        font-family: 'gooReg';
        src: url('/libraries/fonts/GoogleSans-Regular.ttf') format('truetype');
    }
      @font-face {
        font-family: 'gooMed';
        src: url('/libraries/fonts/GoogleSans-Medium.ttf') format('truetype');
    }
      @font-face {
        font-family: 'gooBold';
        src: url('/libraries/fonts/GoogleSans-Bold.ttf') format('truetype');
    }
    /* End Everett Fonts */
  }

@layer components {
    /* body{
        @apply bg-black
    } */
    html{
        @apply overflow-x-hidden
    }
    .comingSoon{
        @apply h-screen w-full font-sans flex items-center justify-center text-white/50
    }
    .comingSub{
        @apply font-poppins font-[400] leading-none
    }
    .comingAnimate{
        @apply bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-lime-500 to-blue-500
        animate-colorAni font-product text-[3.2rem] font-[600] tracking-[0.1rem] leading-tight sm:text-[4.5rem] md:text-[6rem] lg:text-[8rem]
    }
    .comingCta{
        @apply mt-[40px] font-product uppercase
    }
    .comingMini{
        @apply tracking-[0.15rem] text-[12px]
    }
    .comingFlex{
        @apply mt-[10px] flex items-center justify-center space-x-1 font-poppins w-fit mx-auto text-white/80
    }
}
